<h2>Annual Reports</h2>
				<div class="content">
					<div id="annual">
						<ul style="line-height:30px;">
                        	<li><%= link_to "2009 Annual Report", "pdf/2009 Annual Report.pdf" %></li>
							<li><%= link_to "2008 Annual Report", "pdf/2008 Annual Report v3.pdf" %></li>
							<li><%= link_to "2007 Annual Report", "pdf/2007 Annual Report.pdf" %></li>
							<li><%= link_to "2006 Annual Report", "pdf/2006 Annual Report.pdf" %></li>
							<li><%= link_to "2005 Annual Report", "pdf/2005 Annual Report.pdf" %></li>
						</ul>
						<p class="indent"><%= link_to image_tag("acrobat.gif", :width=>88, :height=>31, :alt=>"Get Acrobat Reader"), "http://get.adobe.com/reader", :rel=>"confirm external" %></p>
					</div>
				</div>