<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Members Trust Federal Credit Union</title>
	<%= stylesheet_link_tag 'memberstrust' %>
	<%= stylesheet_link_tag 'menu' %>

	<%= javascript_include_tag "functions" %>
	<%= javascript_include_tag "client" %>
	<%= javascript_include_tag "menu" %>
	<%= javascript_include_tag "hblogin" %>
	<%= javascript_include_tag "site" %>
</head>
<body>
	<div id="dropshadow">
		<div id="header">
			<div id="banner">
				<h1>Members Trust Federal Credit Union</h1>
			</div>
		</div>
		<div id="container" class="clearfix">
			<div id="content_left" class="clearfix">
    <%= yield %>
    <%= render "layouts/footer" %>
</body>
</html>
